<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>testPjt</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 일종의 변수 선언 -->
  <servlet>
  	<servlet-name>servletTestEx</servlet-name>
  	<servlet-class>com.servlet.TestServlet</servlet-class>
  </servlet>
  
  <!-- 매핑 선언 -->
  <servlet-mapping>
  	<servlet-name>servletTestEx</servlet-name>
  	<url-pattern>/ts</url-pattern>
  </servlet-mapping>
  
  
  <!-- 해당 변수에 어드민 아이디와, 비밀번호라는 멤버를 만든 개념 -->
  <!-- 동일한 곳을 참조하는 (configEx.jsp 서블릿 2개 만들면 안됨) 변수 만드는 개념이면 서버 작동이 안된다. -->
  <servlet>
  	<servlet-name>configEx</servlet-name>
  	<jsp-file>/configEx.jsp</jsp-file>
  	<!-- 해당 jsp에서 값을 사용할 수 있게 해줌 -->
  	<init-param>
  		<param-name>adminId</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>adminPw</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>configEx</servlet-name>
  	<url-pattern>/configEx</url-pattern>
  </servlet-mapping>
  
  <!-- 모든 곳에서 사용 가능한 객체 생성 -->
  <context-param>
  	<param-name>imgDir</param-name>
  	<param-value>/uploadg/img</param-value>
  </context-param>
  
  <context-param>
  	<param-name>testServerIP</param-name>
  	<param-value>127.0.0.1</param-value>
  </context-param>
  
  <context-param>
  	<param-name>realServerIP</param-name>
  	<param-value>68.0.30.1</param-value>
  </context-param>
  
  <!-- 서블릿 Config 연습 -->
  <servlet>
  	<servlet-name>servletEx</servlet-name>
  	<servlet-class>com.servlet.ServletEx</servlet-class>
  	<init-param>
  		<param-name>adminId</param-name>
  		<param-value>admin</param-value>
  	</init-param>
  	<init-param>
  		<param-name>adminPw</param-name>
  		<param-value>1234</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>servletEx</servlet-name>
  	<url-pattern>/se</url-pattern>
  </servlet-mapping>
  
  <!-- 서블릿 Context 연습 -->
  <context-param>
  	<param-name>testServerIP</param-name>
  	<param-value>127.0.0.1</param-value>
  </context-param>
  
    <context-param>
  	<param-name>realServerIP</param-name>
  	<param-value>128.0.0.1</param-value>
  </context-param>
  
  <!-- 필터 경로 지정 -->
  <filter>
  	<filter-name>tempFilter</filter-name>
  	<filter-class>com.servlet.TempFilter</filter-class>
  </filter>
  
  <!-- 필터 매핑 (사용 인식) -->
  <filter-mapping>
  	<filter-name>tempFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>